body{
    background-image: url("../image/Background.jpg");
    background-repeat: no-repeat;
    margin: 0;
}
  
h1{
    text-align: center;
    color: mediumspringgreen;
}
h2{
    margin: 10px;
    margin-bottom: -10px;
}
p1{
    color: white;
    margin: 10px;
}

ul{
    padding: 0px;
}

p{
    margin: 10px;
}

li{
    margin-left: 10px;
}

dl{
    color: lawngreen;
}

dt{
    margin: 10px;
}

*{
    box-sizing: border-box;
}
.gems{
    width: 25%;
    margin-left: 580px
    
}
.ad{
    background-image: url( ../image/Clash\ Royale\ lobby\ wallpaper.png);
}
